tr {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1 1 100%;
}

td {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  justify-content: left;
  text-align: left;
  border-left: 1px solid #000;
  padding: 0.25rem 1rem;
  align-items: center;
}

tr td:last-child {
  border-right: 1px solid #000;
}

.skill {
  max-width: fit-content;
}

tr td:first-child {
  max-width: 100px;
}

.greyBackground {
  background-color: #f2f2f2;
}
